<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color='dark'>
        <ion-title>
          <div class='title'>
            <p><span class='short-letters'>CZEDD</span></p>
            <p>
              <span class='short-letters'>CZ</span>ech
              <span class='short-letters'>E</span>lectronic
              <span class='short-letters'>D</span>erivational
              <span class='short-letters'>D</span>ictionary
            </p>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide='false' *ngFor="let p of pages">
          <ion-item (click)='goToPage(p.url)' [class.active-item]="selectedPath === p.url" routerDirection="root">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet name="menucontent" id="content" main></ion-router-outlet>
</ion-split-pane>