ion-menu-button {
  color:  orange
}

.itemEven {
  background: rgb(255, 246, 229) 
}

ion-button.ion-color-dark {
  --ripple-color: rgb(255, 246, 229)
}

ion-spinner {
  display: block;
  position:fixed;top:40%;left:50%;
  margin: auto;
  --color: orange;
}

ion-icon {
  padding-bottom: 10px;
  font-size: 120%;
}