<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class='content-background'>
    <h1>Linguistic Part</h1>
    <ion-card color='light'>
      <ion-card-header>
        <ion-card-title>Mgr. Adriana Válková</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class='text'>
          <div class='subsection'>Education</div>
          <p>PhD student of Czech Language</p>
          <p>Masaryk University, Brno, Czech Republic</p>
          <p>(2017–now)</p>

          <div class='subsection'>Work</div>
          <p>Lectuer of Czech language for foreigners, Panorama I.L.A.</p>
          <p>Brno, Czech Republic</p>
          <p>(2017–now)</p>
        </div>
      </ion-card-content>
    </ion-card>

    <h1>Mobile-App Part</h1>
    <ion-card color='light'>
      <ion-card-header>
        <ion-card-title>Kryštof Davídek</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class='text'>
          <div class='subsection'>Education</div>
          <p>Student of computational linguistics and information science</p>
          <p>Masaryk University, Brno, Czech Republic</p>
          <p>(2015–now)</p>

          <div class='subsection'>Work</div>
          <p>Data Analyst, Dataweps</p>
          <p>Brno, Czech Republic</p>
          <p>(2018–now)</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>