ion-menu-button {
  color:  orange
}

.content-background {
  text-align: center
}

.text {
  text-align: left
}

.subsection {
  text-decoration-style: solid;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}