<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class='name-background'>
    <p><span class='short-letters'>CZEDD</span></p>
    <p><span class='short-letters'>CZ</span>ech <span class='short-letters'>E</span>lectronic <span class='short-letters'>D</span>erivation <span class='short-letters'>D</span>ictionary</p>
  </div>
</ion-content>
