ion-menu-button {
  color:  orange;
}

ion-button.ion-color-dark {
  --ripple-color: orange;
}

.short-letters{
  color: orange
}

.content-background {
  text-align: center
}

.title {
  letter-spacing: .0,5em;
}

.description {
  text-align: left;
    padding: 16px
}