<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class='content-background'>
    <ion-card color='dark'>
      <ion-card-header>
        <div class='title'>
          <ion-card-title><span class='short-letters'>CZEDD</span></ion-card-title>
          <ion-card-title><span class='short-letters'>CZ</span>ech <span class='short-letters'>E</span>lectronic <span
              class='short-letters'>D</span>erivation
            <span class='short-letters'>D</span>ictionary</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
    <div class='description'>
      <p>Dictionary CZEDD will help you to learn and improve your Czech language skills. It is specifically focused on
        derivation in Czech.</p>
      <p>You can use CZEDD as a typical translation dictionary with knowledge of derived words
        or you can learn related words (list of words).</p>
    </div>
    <ion-button color='dark' shape='round' fill='solid' strong (click)='openMenu()'>Open Menu</ion-button>
    <ion-button color='dark' shape='round' fill='solid' strong href='/menu/(menucontent:insertWord)' routerDirection='root'>let's
      analyze</ion-button>
  </div>



</ion-content>