<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class='content-background'>
    <div class='title'>
      <h1><span class='short-letters'>CZEDD</span></h1>
      <h1><span class='short-letters'>CZ</span>ech <span class='short-letters'>E</span>lectronic <span class='short-letters'>D</span>erivation
        <span class='short-letters'>D</span>ictionary
      </h1>
    </div>
    <p>
      <ion-button color='dark' shape='round' fill='outline' strong (click)='openMenu()'>Open Menu</ion-button>
    </p>
    <p>
      <ion-button color='dark' shape='round' fill='outline' strong href='/menu/(menucontent:insertWord)'
        routerDirection='root'>To analyze page</ion-button>
    </p>
  </div>



</ion-content>