<div class='header'>
  <ion-header>
    <ion-toolbar color='dark'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Insert Word
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content padding text-center>

  <div *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading">
    <!-- <ion-item>
      <ion-row class='input' align-items-center>
        <ion-input required type="text" placeholder="Write the word." (keyup.enter)="analyze()" [(ngModel)]='inputWord'>
        </ion-input>
        <ion-button class="main-button" color='dark' shape='round' fill='solid' (click)='analyze()'>
          <ion-spinner name="crescent" *ngIf='isLoading'></ion-spinner>
          <p *ngIf='!isLoading'>Analyze</p>
        </ion-button>
      </ion-row>
    </ion-item> -->

    <ion-searchbar animated type="text" placeholder="Write the word" [(ngModel)]='inputWord' (ionCancel)='goToIndex()'
      [showCancelButton]="showBack" (ionChange)="showWords(true)" (ionClear)='showWords(false)'>
    </ion-searchbar>
    <div *ngIf='!showDefinition'>
      <ion-list class="word-list" *ngIf='listOfWords'>
        <ion-item *ngFor="let word of listOfWords" [ngClass]="{'itemEven': listOfWords.indexOf(word)%2==0}"
          (click)='this.inputWord=word; analyze()'>
          <ion-label>{{ word }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-spinner name="crescent" *ngIf='isLoading'></ion-spinner>

    <div *ngIf='showDefinition'>
      <ion-card *ngIf="errorMessage">
        <p> {{ errorMessage }} </p>
      </ion-card>
      <div class='definition'>
        <div class='main'>
          <ion-card *ngIf='definition'>
            <div class='def-title'>
              <ion-card-title>
                <div class="caption">
                  <div class="caption-text">
                    {{ definition.main.caption }}
                  </div>
                </div>
              </ion-card-title>
            </div>
            <ion-card-content>
              <p> {{ definition.main.firstLine }} </p>
              <p> {{ definition.main.czechLine }} </p>
              <p> {{ definition.main.englishLine }} </p>
            </ion-card-content>
          </ion-card>
        </div>
        <div class='secondary'>
          <ion-card *ngIf="definition">
            <ion-card-title>
              <div class="caption">
                <div class="caption-text">
                  {{ definition.derivational.caption }}
                </div>
              </div>
            </ion-card-title>
            <ion-card-content>
              <p> {{ definition.derivational.baseWord }} </p>
              <p> {{ definition.derivational.derProcess }} </p>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="definition">
            <ion-card-title>
              <div class="caption">
                <div class="caption-text">
                  {{ definition.morphological.caption }}
                </div>
              </div>
            </ion-card-title>
            <ion-card-content>
              <p> {{ definition.morphological.partOfSpeech }} </p>
              <p> {{ definition.morphological.gender }} </p>
              <p> {{ definition.morphological.paradigm }} </p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>