.header {
  text-align: left
}

ion-menu-button {
  color:  orange
}

ion-button.ion-color-dark {
  --ripple-color: orange;
  // --ion-color-contrast: orange !important;
}

ion-spinner {
  --color: orange
}

.main {
  
}

.secondary {
  
}
  
.def-title {
  
}