ion-menu-button {
  color:  orange
}

ion-button.ion-color-dark {
  --ripple-color: rgb(255, 246, 229)
}

ion-spinner {
  --color: orange
}

.itemEven {
  background: rgb(255, 246, 229) 
}

.word-list {
  padding-top: 8px
}