.header {
  // text-align: center
}

ion-menu-button {
  color:  orange
}

ion-button.ion-color-dark {
  --ripple-color: orange;
}

ion-spinner {
  --color: orange
}

.main {
  
}

.secondary {
  
}
  
.def-title {
  
}