.short-letters{
  color: orange
}

.header {
  text-align: center
}

ion-button.ion-color-dark {
  --ripple-color: orange;
  // --ion-color-contrast: orange !important;
}

.main {
  
}

.secondary {
  
}
  
.def-title {
  
}