<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <p>CZEDD</p>
      <p>CZech Electronic Derivation Dictionary</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>
    <ion-card-content>
      <ion-input required type="text" placeholder="Write the word." (keyup.enter)="anaylze()" [(ngModel)]='inputWord'></ion-input>
    </ion-card-content>  
  </ion-card>
  <ion-button color='dark' shape='round' strong (click)='anaylze()'>Analyze</ion-button>
  <ion-card *ngIf="errorMessage"> 
    <p> {{ errorMessage }} </p>
  </ion-card>
  <div class='definition'>
  <div class='main'>
    <ion-card *ngIf='output'>
      <span class='def-title'><ion-card-title> {{ output.Main.caption }} </ion-card-title></span>
      <ion-card-content>
        <p> {{ output.Main.firstLine }} </p>
        <p> {{ output.Main.czechLine }} </p>
        <p> {{ output.Main.englishLine }} </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class='secondary'>
    <ion-card *ngIf="output">
      <ion-card-title> {{ output.Secondary.caption }} </ion-card-title>
      <ion-card-content>
        <p> {{ output.Secondary.baseWord }} </p>
        <p> {{ output.Secondary.derProcess }} </p>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>
