<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Check Czech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>
    <ion-card-content>
      <ion-input required type="text" placeholder="Write the word." [(ngModel)]='inputWord'></ion-input>
    </ion-card-content>  
  </ion-card>
  <ion-button shape="round" color="primary" fill="outline" (click)='analyzator()'>Analyze</ion-button>
  <ion-card>
    <ion-card-content>
    {{ outputWord }}
    </ion-card-content>  
  </ion-card>
</ion-content>
