<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <p>CZEDD</p>
      <p>CZech Electronic Derivation Dictionary</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>
    <ion-card-content>
      <ion-input required type="text" placeholder="Write the word." (keyup.enter)="anaylze()" [(ngModel)]='inputWord'></ion-input>
    </ion-card-content>  
  </ion-card>
  <ion-button shape="round" color="primary" fill="outline" (click)='anaylze()'>Analyze</ion-button>
  <ion-card>
    <ion-card-content *ngIf="output">
    {{ output }}
    </ion-card-content>  
  </ion-card>
</ion-content>
